.vscode/**
*.dSYM/**
factor
gameoflife
lot
printnum
tictactoe
uart
speelveld
randomdraw
.DS_Store
pi-leibniz
cannonball
cannonball-down
randfib
crc32
crc64
digits
digits.txt
pi1000000.txt
pi-10million.txt
pifrompi
lim
pimc
basel
fizzbuzz
a.out
randlist
